.homepage {
    font-family: Arial, sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  }
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f7f2f288;
    /* width: 80vw; */
  }
  
  .hero-content {
    max-width: 30vw;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .hero-image-container {
    flex: 1; /* Allow the image container to take equal space */
    height: 50vh;
    max-width: 50%; /* Restrict max-width for image */
    overflow: hidden; /* Hide overflow */
    display: flex; /* Center the image within the container */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  .hero-image {
    width: 100%; /* Takes full width of the container */
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Crops and fills the container */
  display: block;
  }
  
  .features {
    padding: 2rem;
    background-color: #ffffff;
    text-align: center;
  }
  
  .features h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .feature {
    display: inline-block;
    width: 30%;
    padding: 1rem;
  }
  
  .feature-image {
    width: 20vw;
  }
  
  .courses {
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  .courses h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .course-card {
    display: inline-block;
    width: 30%;
    margin: 1rem;
    text-align: center;
  }
  
  .course-image {
    width: 100%;
  }
  
  .testimonials {
    padding: 2rem;
    background-color: #ffffff;
  }
  
  .testimonials h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .testimonial {
    margin-bottom: 1rem;
    font-style: italic;
  }
  
  .footer {
    padding: 1rem;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  